/* $Id: tabber_dcGO.css,v 1.5 2012-09-25 15:31:38 hfang Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 2px solid #CD7300;
 font: bold 15px Verdana, sans-serif;
 font-style:italic;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 2px solid #CD7300;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #CD7300; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #00F;
 background: #FFF;
 border-color: #00F;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 2px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #00F;
 background: white;
 border-bottom: 2px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:2px solid #CD7300;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {

}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}


/* black, grey, sandy (in order) */
/*---------------------------------------------*/
/*---------------------------------------------*/
/*---------------------------------------------*/

/*---------------------------------------------*/
/* customize tab colored in black: black_tab*/

.tabberlive#black_tab .tabbernav {
 border-bottom: 1px solid #000;
 font: bold 14px Verdana, sans-serif;
 font-style:normal;
}

.tabberlive#black_tab .tabbernav li a {
 border: 1px solid #000;
 border-bottom: none;
}

.tabberlive#black_tab .tabbernav li a:link { color: #000; }
.tabberlive#black_tab .tabbernav li a:visited { color: #667; }

.tabberlive#black_tab .tabbernav li a:hover{
 color: #00F;
 background: #FFF;
 border-color: #00F;
}

.tabberlive#black_tab .tabbernav .tabberactive a {
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

.tabberlive#black_tab .tabbertab {
 border:1px solid #000;
 border-top:0; 
}

/*---------------------------------------------*/
/* customize tab colored in grey: grey_tab*/

.tabberlive#grey_tab .tabbernav {
 border-bottom: 1px solid #888;
 font: bold 14px Verdana, sans-serif;
 font-style:normal;
}

.tabberlive#grey_tab .tabbernav li a {
 border: 1px solid #888;
 border-bottom: none;
}

.tabberlive#grey_tab .tabbernav li a:link { color: #888; }
.tabberlive#grey_tab .tabbernav li a:visited { color: #667; }

.tabberlive#grey_tab .tabbernav li a:hover{
 color: #00F;
 background: #FFF;
 border-color: #00F;
}

.tabberlive#grey_tab .tabbernav .tabberactive a {
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

.tabberlive#grey_tab .tabbertab {
 border:1px solid #888;
 border-top:0; 
}


/*---------------------------------------------*/
/* customize tab colored in sandy: sandy_tab*/

.tabberlive#sandy_tab .tabbernav {
 border-bottom: 1px solid #CD7300;
 font: bold 13px Verdana, sans-serif;
 font-style:normal;
}

.tabberlive#sandy_tab .tabbernav li a {
 border: 1px solid #CD7300;
 border-bottom: none;
}

.tabberlive#sandy_tab .tabbernav li a:link { color: #CD7300; }
.tabberlive#sandy_tab .tabbernav li a:visited { color: #667; }

.tabberlive#sandy_tab .tabbernav li a:hover{
 color: #00F;
 background: #FFF;
 border-color: #00F;
}

.tabberlive#sandy_tab .tabbernav .tabberactive a {
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

.tabberlive#sandy_tab .tabbertab {
 border:1px solid #CD7300;
 border-top:0; 
}