/* http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3 */
/* Generate your own Bootstrap navbar */
/* http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0 */

.navbar-default {
  background-color: #002147;
  border-color: #002d61;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fafafa;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fafafa;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fafafa;
  background-color: #002d61;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fafafa;
  background-color: #002d61;
}
.navbar-default .navbar-toggle {
  border-color: #002d61;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #002d61;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #fafafa;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fafafa;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fafafa;
    background-color: #002d61;
  }
}

/* IMG shadow */
.img-shadow {
	max-width: 99%; 
	border: 2px solid #EEEEEE; 
	box-shadow: 5px 5px 2px #C0C0C0;
}

.iframe-shadow {
	width: 100%;
	border: 2px solid #EEEEEE; 
	box-shadow: 5px 5px 2px #C0C0C0;
	scrolling: auto;
	frameborder: 0;
}

.my-fontfamily{
	font-family: 'didot';
}

#toggleText { 
    background-color: rgba(50%,90%,90%,0.4);
    font-size: 90%;
    padding: 	0.5em;
    border: 	solid 1px rgba(50%,90%,90%,1);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 5px 5px 2px #C0C0C0;
        -webkit-box-shadow: 5px 5px 2px #C0C0C0;
        box-shadow: 5px 5px 2px #C0C0C0;
}


/* Global Styles */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'helvetica neue';
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin-top: 50px;
    font-size: 14px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: 5px 0;
}

a {
    color: #3498DB;
    text-decoration: none;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/*
.navbar .brand:hover {
  color: rgba(0,0,255,.5);
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav > li > a:hover {
  color: rgba(0,0,255,.5);
  text-decoration: underline;
  background-color: transparent;
}
*/


.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  font-weight: 300;
}


/* Bootstrap 3 dropdown menu to work on mouse-over */
.dropdown:hover .dropdown-menu {
	display: block;
}


/* Change bootstrap tooltip color */
.my-tooltip + .tooltip > .tooltip-inner {
	background-color: rgba(0, 0, 0, 0.8); 
    color: #FFFFFF; 
    font-size: 13px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 2px #ccc;
}
/* Tooltip on top */
.my-tooltip + .tooltip.top > .tooltip-arrow {
	border-top: 5px solid rgba(0, 0, 0, 0.8);
}
/* Tooltip on bottom */
.my-tooltip + .tooltip.bottom > .tooltip-arrow {
	border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}
/* Tooltip on left */
.my-tooltip + .tooltip.left > .tooltip-arrow {
	border-left: 5px solid rgba(0, 0, 0, 0.8);
}
/* Tooltip on right */
.my-tooltip + .tooltip.right > .tooltip-arrow {
	border-right: 5px solid rgba(0, 0, 0, 0.8);
}

/* datatable */
/*
tbody > tr > td{
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
*/

tbody > tr > td .sig{
	color: rgba(0,100,0,0.8);
	font-weight: bold;
}
thead > tr > th{
	background-color: rgba(204,204,204,0.5);
}
tfoot > tr > th{
	background-color: rgba(204,204,204,0.5);
}

/* rotate header */
th.rotate {
	height: 40px;
	padding: 0px;
	/*width: 20px !important;*/
	/*font-weight: normal;*/
}
th.rotate > div {
     -moz-transform: rotate(-15.0deg);  /* FF3.5+ */
      -ms-transform: rotate(-15.0deg);  /* IE9+ */
       -o-transform: rotate(-15.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-15.0deg);  /* Safari 3.1+, Chrome */
          transform: rotate(-15.0deg);  /* Standard */
			 /*filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
 			  width: 0px;
}